@media print {
    @page {
        size: A4;
    }

    body {
        font-size: 12pt; 
        padding: 0 !important;
    }
    
    .wrapper {
        display: grid;
        grid-template-columns: repeat(10, 1fr);      
        margin: 0 auto;
        position: relative;

        max-width: unset !important;
        background: #000001 !important;
        color: black !important;
    }

    img.avatar {
        filter: grayscale(1);
        -webkit-filter: greyscale(1);
    }

    a[href]:after {
        content: none !important;
    }

    .main-wrapper { 
        grid-column: span 7;
        order: 1;
        background: #fff;
        padding-top: 5px;
        padding-right: 25px;
        padding-left: 25px;
        font-size: 12px;
        color: black !important;  

        .container-block {
            padding: 20px;
        }

        .job-title,
        .degree {
            color: black !important;
         }
    }

    .main-wrapper .company {
        float: left;
        color: black !important;
        padding: auto;
        -webkit-print-color-adjust: exact;
    }

    .main-wrapper .time {
        color: black !important;
        -webkit-print-color-adjust: exact;
    }

    .main-wrapper .section-title{ 
        font-size: 13px;
        color: black !important; 
    }

    .main-wrapper .job-title { 
        font-size: 13px;
        color: black !important; 
    }

    .main-wrapper .title-section { 
        font-size: 14px;
        color: black !important;
    }

    /* Barra lateral */
    .sidebar-wrapper {        
        grid-column: span 3;
        position: relative;        
        order: 0;
        float: left; 
        font-size: 12px; 
        -webkit-print-color-adjust: exact;
        background-color: #666666; 

        .container-block-title {
            font-size: 13px; 
        }

        .container-block {
            padding: 20px;
        }

        .pdf {
            display: none;
        }
    }

    .remove-container.container-block {
        display: none;
    }

    footer {
        display: none;
    }

    .skillset .level-bar-inner {
        background-color: black !important;
        -webkit-print-color-adjust: exact;
    }

    .fa-inverse,
    .fa-inverse:after,
    .fa-inverse:before {
        color: #ffffff !important;
    }

    
}
