@media print {
    @page {
        size: A4;
    }

    body {
        font-size: 12pt; 
        padding: 0 !important;
    }
    
    .wrapper {
        max-width: unset !important;
        background: #000001 !important;
        color: black !important;
    }

    img.avatar {
        filter: grayscale(1);
        -webkit-filter: greyscale(1);
    }

    a[href]:after {
        content: none !important;
    }

    .main-wrapper .time {
        float: left;
        color: black !important;
        -webkit-print-color-adjust: exact;
    }

    .sidebar-wrapper {
        position: static;
        float: left;
        width: 40%;
        -webkit-print-color-adjust: exact;
    }

    .remove-container.container-block {
        display: none;
    }

    footer {
        display: none;
    }

    .skillset .level-bar-inner {
        background-color: black !important;
        -webkit-print-color-adjust: exact;
    }

    .fa-inverse,
    .fa-inverse:after,
    .fa-inverse:before {
        color: #ffffff !important;
    }

    .section-title{
        color: black; 
    }
}
