@media print {
    @page {
        size: A4;
    }

    body {
        font-size: 12pt;
        padding: 0 !important;
    }

    .wrapper {
        display: grid;
        grid-template-columns: repeat(10, 1fr);
        margin: 0 auto;
        position: relative;

        max-width: unset !important;
        color: black !important;
    }

    a[href]:after {
        content: none !important;
    }

    .main-wrapper {
        grid-column: span 7;
        order: 1;
        background: #fff;
        padding-top: 5px;
        padding-right: 25px;
        padding-left: 25px;
        font-size: 12px;

        .container-block {
            padding: 20px;
        }

        .time {
            position: absolute;
            right: 0;
            top: 0;
            color: $text-grey;
        }

        .company,
        .university {
            margin-bottom: 10px;
            color: $text-grey;
        }

        

        .section-title {
            font-size: 13px;
        }

        .title-section {
            font-size: 14px;
        }

    }



    /* Barra lateral */
    .sidebar-wrapper {
        grid-column: span 3;
        position: relative;
        order: 0;
        float: left;
        font-size: 12px;
        -webkit-print-color-adjust: exact;

        .container-block-title {
            font-size: 13px;
        }

        .container-block {
            padding: 20px;
        }

        .twitter {
            display: none;
        }

        .pdf {
            display: none;
        }
    }

    .remove-container.container-block {
        display: none;
    }

    footer {
        display: none;
    }

    .skillset .level-bar-inner {
        background-color: black !important;
        -webkit-print-color-adjust: exact;
    }

    .fa-inverse,
    .fa-inverse:after,
    .fa-inverse:before {
        color: #ffffff !important;
    }


}