---
#Add "layout: compress" here to compress the html code
---
<!DOCTYPE html>
{% if page.language == "en" %}{% assign data = site.data.dataen %}<html lang="en"  data-bs-theme="dark"></html>{% else %}{% assign data = site.data.data %}<html lang="pt-BR" data-bs-theme="dark">{% endif %} 
{% include head.html %}
<body>
  <div class="wrapper" >
    {% include sidebar.html %}
    <div class="main-wrapper">
      {{ content }}
    </div>
  </div>
{% include footer.html %}
{% include scripts.html %}
</body>
</html>

